<main class="container">
  <div class="dashboard">
    <div class="block">
      <div class="card"></div>
    </div>
    <div class="block">
      <div class="card"></div>
    </div>
    <div class="block">
      <div class="card"></div>
    </div>
    <div class="block">
      <div class="card"></div>
    </div>
  </div>
</main>