.container {
    background-color: #DDDDDD;
    width: 100%;
    height: 100%;
}

.dashboard {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1080px;    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.block {
    width: 45%;
    height: 45%;
    margin-left: 3%;
}

.card {
    background-color: #000000;
    width: 100%;
    height: 100%;
}