<main class="container">
  <div class="card">
    <div class="title">OEE POR HORA</div>
    <div class="body">
      <div class="bar blue-background">
        <div class="label">HORA</div>
        <div class="value blue" [ngStyle]="{'height': '80%' }">80%</div>
      </div>
      <div class="bar yellow-background">
        <div class="label">HORA</div>
        <div class="value yellow" [ngStyle]="{'height': '60%' }">60%</div>
      </div>
      <div class="bar red-background">
        <div class="label">HORA</div>
        <div class="value red" [ngStyle]="{'height': '20%' }">20%</div>
      </div>
      <div class="bar blue-background">
        <div class="label">HORA</div>
        <div class="value blue" [ngStyle]="{'height': '0%' }">0%</div>
      </div>
      <div class="bar blue-background">
        <div class="label">HORA</div>
        <div class="value blue" [ngStyle]="{'height': '80%' }">80%</div>
      </div>
      <div class="bar yellow-background">
        <div class="label">HORA</div>
        <div class="value yellow" [ngStyle]="{'height': '60%' }">60%</div>
      </div>
      <div class="bar red-background">
        <div class="label">HORA</div>
        <div class="value red" [ngStyle]="{'height': '20%' }">20%</div>
      </div>
      <div class="bar blue-background">
        <div class="label">HORA</div>
        <div class="value blue" [ngStyle]="{'height': '0%' }">0%</div>
      </div>
    </div>
  </div>
</main>