$color-paid: #7fdbff;
$color-sent: #39cccc;

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "fira-sans-2", Verdana, sans-serif;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: 80%;
    border: 1px dotted #000000;

    .title {
        width: 100%;
        border: 1px dotted #000000;
        text-align: center;
    }

    .body {
        display: flex;
        justify-content: center;
        width: 100%;
        border: 1px dotted #000000;
    }
}

.bar {
    position: relative;
    float: left;
    width: 60px;
    margin-left: 10px;
    height: 200px;
    background-color: rgba(230, 230, 230, 0.60);
    text-align: center;

    .label {
        position: absolute;
        z-index: 1;
        bottom: -40px;
        width: 100%;
    }

    .value {
        position: absolute;
        width: 100%;
        height: 50%;
        bottom: 0;
    }
}

.blue {
    background: #5DCAC7;
}

.blue-background {
    background: rgba(93, 202, 199, 0.30);
}

.yellow {
    background-color: #FDCA17;
}

.yellow-background {
    background-color: rgba(253, 202, 23, 0.30);
}

.red {
    background-color: #EA5342;
}

.red-background {
    background-color: rgba(234, 83, 66, 0.30);
}