<main>
  <div class="container">
    <div class="row">
      <div class="col s12 m6 l6">
        <div class="metade">
            <div class="card"></div>
        </div>
        <div class="metade">
            <div class="card"></div>
        </div>
        <div class="largo">
            <div class="card"></div>
        </div>
      </div>
      <div class="col s12 m6 l6">
          <div class="card"></div>
      </div>
      <div class="col s12 m6 l6 flex-container">
        <div class="flex-child">
            <div class="card"></div>
        </div>
        <div class="flex-child">
            <div class="card"></div>
        </div>
        <div class="flex-child">
            <div class="card"></div>
        </div>
      </div>
      <div class="col s12 m6 l6">
          <div class="card"></div>
      </div>
    </div>
  </div>
</main>